.yellowCTA {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #FFC52F;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #0F0F0F;
    text-decoration: none;
    font-family: Inter;
}

.redCTA {
    display: flex;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #FF2F2F;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #0F0F0F;
    font-family: Inter;
}