.table {
    width: 770px;
    color: #FFF;
}

.table a {
    color: #FFF;
}

.table thead {
    background: #5B5B5B;
}

.table tbody {
    background: #5B5B5B;
}

.table td, .table th {
    padding: 10px 12px;
}